# Force Dart files to be detected as Dart
*.dart linguist-language=Dart

# Exclude common generated/web files/folders from counting
/build/* linguist-vendored
/.dart_tool/* linguist-vendored
/android/* linguist-vendored
/ios/* linguist-vendored
/linux/* linguist-vendored
/macos/* linguist-vendored
/windows/* linguist-vendored
/web/* linguist-vendored
